.Rproj.user
.Rhistory
.RData
.Ruserdata
general-stuff.Rproj
votes/figures/resized/
votes/figures/2024*.png
votes/personal/
votes/votes-dashboard.qmdbanana/
banana/
*.html
files$
*.png
iterations/rsconnect/
iterations/manifest.json

rl mdp/mdp_gridworld_docs_files/